# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/

# Generated Reports
generated_reports/

# Embeddings
embeddings/

# Vector Database
vector_store/

# Operating System
.DS_Store
Thumbs.db

data/edgar/
data/kaggle/
embeddings/
faiss_index/
models/
__pycache__/
.ipynb_checkpoints/